---

import ModuleCard from "./modulecard/ModuleCard.astro";

export default interface Education {
    Title: string;
    Description: string;
    Institiution: string;
    FinalGrade: string;
    OverallMark: number;
}

const { Education } = Astro.props
---

<section>
    <div>
        
    </div>
</section>