---

---
<section>
    <div>
        <h2> Pre College Education: </h2>
        <div>
            <p> 8 GCSEs at Grade C or above Including English, Maths & ICT </p>
        </div>
    </div>
</section>