---
import Profileicon from "./profileicon/profileicon.astro";



---

<div class="sticky top-0 z-50 transition delay-75 duration-100 ease-in-out hover:bg-slate-600 backdrop-blur-md bg-transparent">
    <div class="flex">
        <Profileicon/>    
    </div>
</div>