---
import { Image } from 'astro:assets';
import profileImage from './profileImg.jpg';
---

<div class="p-2 m-0.1">
    <div class="flex -space-x-2 overflow-hidden">
        <Image src={profileImage}  height={65} width={65} alt={"A Buffalo Wearing Sunglasses with a synthwave asthetic"} class="object-cover object-center rounded-full border-4 border-green-600 p-1">
    </div>
</div>